@import '@/assets/style/mixin.scss';
.login-page {
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  font-size: 28px;
  box-sizing: border-box;
  background-color: #fff;
  .yz-logo {
    width: 189px;
    height: 108px;
    margin: 0 auto;
    @include bg-image('./slogan');
  }
  .yz-slogan {
    width: 400px;
    height: 80px;
    margin: 30px auto 120px;
    @include bg-image('./logo');
  }
  .login-banner {
    width: 100%;
    margin-bottom: 114px;
    .banner {
      display: block;
      width: 690px;
      height: 345px;
      margin: 0 auto;
    }
  }
  .form-ul {
    padding: 0 70px;
    .form-li {
      display: flex;
      align-items: center;
      height: 100px;
      margin-bottom: 20px;
      @include border-1px-x(#D4D4D4);
      .form-li-icon {
        display: block;
        width: 48px;
        height: 48px;
        flex-shrink: 0;
      }
      .form-li-btn {
        display: block;
        width: 160px;
        height: 48px;
        line-height: 48px;
        text-align: right;
        font-size: 28px;
        flex-shrink: 0;
        color: #AAAAAA;
        &.li-btn-active {
          color: #DC9D35;
        }
      }
      .form-li-input {
        flex: 1;
        padding-left: 40px;
        height: 48px;
        line-height: 48px;
        font-size: 34px;
        color: #2A2A2A;
        @include input-placeholder(#AAAAAA, 28px);
        &.li-input-width {
          width: 402px;
        }
      }
      .phone-icon {
        @include bg-image('./phoneicon');
      }
      .close-icon {
        @include bg-image('./closeicon');
      }
      .pass-icon {
        @include bg-image('./passicon');
      }
      .code-icon {
        @include bg-image('./codeicon');
      }
    }
  }
  .submit-btn {
    width: 100%;
    height: 88px;
    line-height: 88px;
    color: #fff;
    text-align: center;
    font-size: 36px;
    border-radius: 44px;
    margin: 86px auto 52px;
    @include bg-gradienta(#E7AA47, #F9D48D);
  }
  .entry-ul {
    display: flex;
    align-items: center;
    height: 28px;
    .entry-li {
      flex: 1;
      height: 28px;
      line-height: 28px;
      text-align: center;
      color: #DC9D35;
      font-size: 28px;
    }
    .entry-line {
      width: 1px;
      height: 24px;
      line-height: 24px;
      @include border-1px-y(#D4D4D4);
    }
  }
}

