@import "@/assets/style/mixin.scss";
.share-page {
  width: 100%;
  position: relative;
  background-color: #fff;
  min-height: 100vh;
  .load-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: 3;
  }
  .create-logo {
    width: 100%;
    background-color: #fff;
    position: relative;
    .create-logo-tips {
      width: 100%;
      padding-bottom: 30px;
      .tips-p {
        text-align: center;
        font-size: 24px;
        line-height: 24px;
        color: #333;
        font-weight: 500;
        transition: all 0.5s 0.1s;
        opacity: 0;
        margin-bottom: 20px;
        &.active {
          opacity: 1;
        }
        .tips-p-span {
          color: red;
        }
      }
    }
    .canvas-image {
      width: 750px;
      height: 1334px;
      display: block;
      margin: 0 auto;
      transition: all 0.5s 0.1s;
      border-radius: 8px;
      &.active {
        transform: scale(0.9);
      }
    }
  }
}
