@import "@/assets/style/mixin.scss";
.set-page {
  min-height: 100vh;
  padding-bottom: 102px;
  box-sizing: border-box;
  background-color: #F7F7F7;
  .table-ul {
    background-color: #fff;
    padding-left: 30px;
    .table-li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 30px 20px 0;
      border-bottom: 1px solid #ececec;
      &:last-child {
        border: none;
      }
      .table-li-title {
        display: block;
        height: 80px;
        line-height: 80px;
        font-size:28px;
        color: #2A2A2A;
        font-weight: 500;
      }
      .table-li-content {
        display: block;
        height: 80px;
        line-height: 80px;
        font-size:28px;
        color: #7F7F7F;
        .table-li-icon {
          width: 80px;
          height: 80px;
          border-radius: 8px;
        }
      }
    }
  }
  .back-btn-box {
    padding: 0 60px;
  }
  .back-btn {
    width: 100%;
    height: 88px;
    line-height: 88px;
    color: #fff;
    text-align: center;
    font-size: 36px;
    border-radius: 44px;
    margin: 100px auto 0;
    @include bg-gradienta(#E7AA47, #F9D48D);
  }
}