@import "@/assets/style/mixin.scss";
.hotel-page {
  height: 100vh;
  background-color: #f7f7f7;
  .type-navs {
    height: 88px;
    display: flex;
    background-color: #fff;
    .type-nav {
      flex: 1;
      height: 88px;
      line-height: 88px;
      text-align: center;
      font-size: 30px;
      color: #303030;
      @include border-1px-x(#dddddd);
      &.active {
        color: #dc9d35;
        font-weight: 500;
        &::after {
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          border-bottom: 4px solid #dc9d35;
          content: "";
        }
      }
    }
  }
  .order-ul-wrapper {
    .order-ul {
      padding: 30px 32px 0;
      .order-li {
        padding: 30px 32px;
        margin-bottom: 40px;
        border-radius: 14px;
        box-shadow: 0px 6px 40px 0px rgba(109, 114, 120, 0.2);
        &:last-child {
          margin-bottom: 0;
        }
        .order-li-title {
          display: flex;
          align-items: center;
          margin-bottom: 40px;
          .title-icon {
            display: block;
            width: 40px;
            height: 40px;
            margin-right: 20px;
          }
          .title-name {
            flex: 1;
            height: 36px;
            font-size: 26px;
            color: #2a2a2a;
            line-height: 36px;
            .title-name-span {
              font-size: 30px;
              font-weight: 600;
            }
          }
          .title-status {
            height: 32px;
            font-size: 22px;
            color: #7f7f7f;
            line-height: 32px;
            &.active {
              color: #ca984f;
            }
          }
        }
        .order-li-content {
          display: flex;
          margin-bottom: 46px;
          .order-li-images {
            display: block;
            width: 124px;
            height: 124px;
            border-radius: 8px;
            margin-right: 36px;
          }
          .content {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .room {
              height: 36px;
              font-size: 28px;
              color: #2a2a2a;
              line-height: 36px;
              margin-bottom: 16px;
            }
            .time {
              height: 34px;
              font-size: 26px;
              color: #555555;
              line-height: 34px;
            }
          }
        }
        .btns {
          display: flex;
          justify-content: flex-end;
          .btn {
            width: 144px;
            height: 50px;
            line-height: 50px;
            border-radius: 10px;
            text-align: center;
            font-size: 24px;
            color: #fff;
            background: linear-gradient(95deg, #cea561 0%, #dbbc7f 100%);
            margin-right: 20px;
            &:last-child {
              margin-right: 0;
            }
            &.active {
              background: none;
              color: #ca984f;
              line-height: 48px;
              border: 1px solid #ca984f;
            }
            &.active2 {
              background: none;
              color: #aaa;
              line-height: 48px;
              border: 1px solid #aaa;
            }
          }
        }
      }
    }
  }
}
