@import "@/assets/style/mixin.scss";
.share-page {
  width: 100%;
  height: 100%;
  font-size: 28px;
  position: relative;
  .load-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 3;
  }
  .share-content-box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: #fff;
  }
  .share-content {
    margin: 0 auto;
    width:710px;
    height: 1200px;
    position: relative;
    overflow: hidden;
    .share-content-bg {
      width: 710px;
      height: 1200px;
      overflow: hidden;
    }
    .share-content-info {
      width:710px;
      height: 1200px;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      overflow: hidden;     
      z-index: 1;
    }
    .logo-box {
      padding: 40px 40px 0;
      height: 75px;
      box-sizing: border-box;
      .logo {
        display: block;
        width: 220px;
        height: 35px;
      }
    }
    .font-icon-box {
      width: 540px;
      height: 112px;
      margin: 80px auto 40px;
      .font-icon {
        display: block;
        width: 540px;
        height: 112px;
      }
    }
    .yz-tips {
      text-align: center;
      height: 60px;
      font-size: 60px;
      line-height: 60px;
      color: #8A6543;
    }
    .share-gold {
      width: 530px;
      height: 188px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 40px auto 60px;
      background-color: #fff;
      border-radius: 20px;
      .gold-name {
        text-align: center;
        height: 56px;
        font-size: 48px;
        line-height: 56px;
        color: #DD9E63;
        margin-bottom: 20px;
      }
      .gold-money {
        text-align: center;
        color: #DD9E63;
        font-size: 36px;
        font-weight:500;
        line-height: 36px;
      }
    }
    .code-box {
      width: 256px;
      height: 256px;
      margin: 120px auto 0;
      border-radius: 10px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      .code {
        display: block;
        width: 227px;
        height: 227px;
      }
    }
    .gold-code-tips {
      text-align: center;
      height: 30px;
      font-size: 30px;
      line-height: 30px;
      color: #fff;
      margin: 30px auto 60px;
    }
    .gold-user-box {
      width: 100%;
      .gold-user-image {
        display: block;
        width: 68px;
        height: 68px;
        border-radius: 50%;
        margin: 0 auto 30px ;
      }
      .gold-user-text {
        text-align: center;
        height: 28px;
        font-size: 28px;
        line-height: 28px;
        color: #fff;
      }
    }
  }
  .create-logo {
    width: 100%;
    min-height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .create-logo-tips {
      width: 100%;
      padding-bottom: 30px;
      .tips-p {
        text-align: center;
        font-size: 24px;
        line-height: 24px;
        color: #333;
        font-weight: 500;
        transition: all 0.5s 0.1s;
        opacity: 0;
        margin-bottom: 20px;
        &.active {
          opacity: 1;
        }
        .tips-p-span {
          color: red;
        }
      }
    }
    #image-box {
      height: 1200px;
      img {
        display: block;
        margin: 0 auto;
        transition: all 0.5s 0.1s;
        border-radius: 8px;
      }
    }
  }
}
