@import "@/assets/style/mixin.scss";
.brokerage-page {
  min-height: 100vh;
  background-color: #f7f7f7;
  .brokerage-header {
    position: relative;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    box-sizing: border-box;
    background: linear-gradient(
      132deg,
      rgba(231, 170, 71, 1) 0%,
      rgba(249, 212, 141, 1) 100%
    );
    .header-content {
      height: 214px;
      color: #fff;
      padding: 30px 0;
      .brokerage-text {
        font-size: 28px;
        line-height: 28px;
      }
      .brokerage-price {
        font-size: 40px;
        font-weight: 500;
        line-height: 40px;
        margin: 30px auto 36px;
      }
      .brokerage-des {
        color: #925c18;
        font-size: 24px;
        line-height: 24px;
      }
    }
    .header-qianbao {
      height: 214px;
      display: flex;
      justify-content: center;
      align-items: center;
      .qianbao-box {
        width: 154px;
        height: 58px;
        border-radius: 29px;
        background-color: #d18c34;
        display: flex;
        align-items: center;
        justify-content: center;
        .qianbao-icon {
          display: block;
          width: 40px;
          height: 40px;
          margin-right: 8px;
          @include bg-image("./qianbao-icon");
        }
        .qianbao-text {
          display: block;
          font-size: 26px;
          line-height: 26px;
          font-weight: 500;
          color: #fff;
        }
      }
    }
    .card-box {
      width: 710px;
      height: 90px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 6px 40px 0px rgba(109, 114, 120, 0.1);
      border-radius: 8px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(214px);
      display: flex;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .card-title {
        font-size: 30px;
        font-weight: 500;
        color: #2a2a2a;
      }
      .card-price {
        font-size: 30px;
        font-weight: 500;
        color: #fa5858;
      }
    }
  }
  .brokerage-content {
    padding: 84px 20px 30px;
    .brokerage-ul {
      padding: 0 20px 30px;
      background: #fff;
      margin-bottom: 30px;
      .brokerage-li {
        display: flex;
        justify-content: space-between;
        height: 28px;
        margin-top: 28px;
        .brokerage-item {
          display: block;
          font-size: 28px;
          height: 28px;
          line-height: 28px;
          color: #7f7f7f;
        }
      }
      .brokerage-li-header {
        display: flex;
        justify-content: space-between;
        height: 91px;
        border-bottom: 1px solid #d4d4d4;
        .brokerage-item {
          display: block;
          font-size: 30px;
          height: 90px;
          line-height: 90px;
          color: #2a2a2a;
        }
      }
    }
  }
}
