@import "@/assets/style/mixin.scss";
.sharegzh-page {
  width: 100%;
  height: 100vh;
  font-size: 28px;
  position: relative;
  .load-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 3;
  }
  .gzhshare-content-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .gzhshare-content {
    width:710px;
    height: 1040px;
    padding-top: 80px;
    background: #fff;
    .gzhlogo-box {
      width: 110px;
      height: 110px;
      margin: 0 auto;
      .gzhlogo {
        display: block;
        width: 110px;
        height: 110px;
      }
    }
    .gzhcode-text {
      text-align: center;
      height: 30px;
      font-size: 30px;
      line-height: 30px;
      color: #2a2a2a;
      margin: 30px auto 80px;
    }
    .user-box {
      width: 100%;
      .user-image {
        display: block;
        width: 68px;
        height: 68px;
        border-radius: 50%;
        margin: 0 auto 30px ;
      }
      .user-text {
        height: 28px;
        font-size: 28px;
        line-height: 28px;
        color: #aaa;
        text-align: center;
      }
    }
    .gzh-text {
      text-align: center;
      height: 36px;
      font-size: 36px;
      line-height: 36px;
      color: #2a2a2a;
      margin: 40px auto 20px;
    }
    .gzh-tips {
      text-align: center;
      height: 28px;
      font-size: 28px;
      line-height: 28px;
      color: #aaaaaa;
    }
    .gzhcode-box {
      width: 312px;
      height: 312px;
      margin: 60px auto 0;
      .gzhcode {
        display: block;
        width: 312px;
        height: 312px;
      }
    }
  }
  .create-gzhlogo {
    width: 100%;
    min-height: 100%;
    background-color: #f9d48d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .gzhcode-tips {
      width: 100%;
      text-align: center;
      line-height: 32px;
      color: #fff;
      font-weight: 500;
      transition: all 0.5s 0.1s;
      opacity: 0;
      padding-bottom: 30px;
      font-size: 28px;
      &.active {
        opacity: 1;
      }
    }
    img {
      display: block;
      transition: all 0.5s 0.1s;
      border-radius: 8px;
    }
  }
  .gzhsubmit-btn {
    width: 610px;
    height: 88px;
    background:linear-gradient(90deg,rgba(231,170,71,1) 0%,rgba(249,212,141,1) 100%);
    color: #fff;
    line-height: 88px;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    position: absolute;
    left: 50%;
    top: 0;
    border-radius:44px;
    transform: translateX(-50%) translateY(737px);
  }
}
