@import "@/assets/style/mixin.scss";
.record-page {
  min-height: 100vh;
  padding-bottom: 102px;
  box-sizing: border-box;
  background-color: #F7F7F7;
  .record-content {
    width: 100%;
    padding-bottom: 10px;
    .record-date {
      padding: 0 40px;
      height: 88px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 88;
      .date-value {
        display: block;
        height: 30px;
        font-size: 30px;
        color:rgba(127,127,127,1);
        line-height:30px;
      }
      .date-icon {
        display: block;
        width: 44px;
        height: 45px;
        @include bg-image('./date-icon')
      }
    }
    .record-ul-wrapper {}
    .record-ul {
      padding: 0 40px;
      background: #fff;
      .record-li {
        width: 100%;
        display: flex;
        height: 201px;
        border-bottom: 1px solid #D4D4D4;
        &:last-child {
          border-bottom: 0;
        }
        .record-li-left {
          flex: 1;
          height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .record-name {
            font-weight:500;
            color: #2A2A2A;
            font-size: 30px;
            height: 30px;
            line-height: 30px;
          }
          .record-detail {
            margin-top: 20px;
            color: #7F7F7F;
            font-size: 26px;
            height: 26px;
            line-height: 26px;
          }
          .record-time {
            margin-top: 30px;
            color: #AAAAAA;
            font-size: 24px;
            height: 26px;
            line-height: 26px;
          }
        }
        .record-li-right {
           width: 150px;
           display: flex;
           justify-content: flex-end;
           align-items: center;
           text-align: right;
           .price {
             font-size: 30px;
             font-weight: 500;
             color: #2A2A2A;
             &.red-price {
              color: #FA5858;
             }
           }
        }
      }
    }
  }
}