@import "@/assets/style/mixin.scss";
.hotel-page {
  height: 100vh;
  background-color: #f7f7f7;
  .type-navs {
    height: 88px;
    display: flex;
    background-color: #fff;
    .type-nav {
      flex: 1;
      height: 88px;
      line-height: 88px;
      text-align: center;
      font-size: 30px;
      color: #303030;
      @include border-1px-x(#dddddd);
      &.active {
        color: #dc9d35;
        font-weight: 500;
        &::after {
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          border-bottom: 4px solid #dc9d35;
          content: "";
        }
      }
    }
  }
  .hotel-ul-wrapper {
    .hotel-ul {
      padding: 20px;
      .hotel-li {
        padding: 40px 20px;
        background-color: #fff;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        position: relative;
        .hotel-li-image {
          width: 220px;
          height: 220px;
          margin-right: 30px;
          background-color: #ccc;
          .li-image {
            display: block;
            width: 220px;
            height: 220px;
          }
        }
        .hotel-li-content {
          flex: 1;
          display: flex;
          flex-direction: column;
          height: 220px;
          padding-top: 10px;
          .hotel-name {
            font-size: 30px;
            line-height: 32px;
            font-weight: 500;
            height: 32px;
            margin-bottom: 20px;
            color: #2a2a2a;
          }
          .hotel-room {
            font-size: 26px;
            line-height: 32px;
            height: 32px;
            margin-bottom: 30px;
            color: #7f7f7f;
          }
          .hotel-profit {
            font-size: 26px;
            line-height: 32px;
            height: 32px;
            color: #fa5858;
            font-weight: 500;
          }
        }
        .store-btn {
          position: absolute;
          right: 20px;
          bottom: 40px;
          width: 150px;
          height: 48px;
          line-height: 48px;
          text-align: center;
          color: #fff;
          font-weight:500;
          font-size: 28px;
          border-radius: 29px;
          background: linear-gradient(
            90deg,
            rgba(231, 170, 71, 1) 0%,
            rgba(249, 212, 141, 1) 100%
          );
         
        }
      }
    }
  }
}
