.home-page {
  width: 100%;
  height: 100vh;
  background-color: #f5f5f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .card-li {
    background-color: #fff;
    height: 300px;
    width: 80%;
    margin-bottom: 60px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .card-li-image {
      width: 64px;
      height: 64px;
      display: block;
      margin-bottom: 40px;
    }
    .card-li-text {
      height: 40px;
      line-height: 40px;
      font-size: 40px;
      text-align: center;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
