@import "@/assets/style/mixin.scss";
.index-page {
  width: 100%;
  padding: 15px 0 102px;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #fff;
  .index-banner {
    padding: 0 15px;
    height: 345px;
    .swiper-container {
      border-radius: 16px;
      .swiper-slide-image {
        width: 100%;
        border-radius: 16px;
      }
      .swiper-pagination-bullet {
        background: #fff;
        opacity: 1;
      }
      .swiper-pagination-bullet-active {
        background: #e7aa47;
      }
    }
  }
  .marquee {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    padding: 0 31px;
    background-color: #FDFCEC;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-sizing: border-box;
    .noc-icon {
      display: block;
      width: 32px;
      height: 32px;
      @include bg-image("./noc-icon");
    }
    .marquee-content {
      width: 600px;
      margin: 0 12px;
      font-size:28px;
      height: 28px;
      line-height: 28px;
      marquee {
        width: 600px;
        font-size:28px;
        height: 28px;
        line-height: 28px;
        color: #DC9D35;
      }
    }
    .close-icon {
      display: block;
      width: 32px;
      height: 32px;
      @include bg-image("./close-icon");
    }
  }
  .toolbar {
    margin: 48px auto 58px;
    .toolbar-ul {
      height: 104px;
      display: flex;
      justify-content: space-around;
      .toolbar-li {
        width: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .toolbar-li-icon {
          display: block;
          width: 72px;
          height: 72px;
          &.gzh-icon {
            @include bg-image("./gzh-icon");
          }
          &.jk-icon {
            @include bg-image("./jk-icon");
          }
          &.hy-icon {
            @include bg-image("./hy-icon");
          }
          &.jd-icon {
            @include bg-image("./jd-icon");
          }
        }
        .toolbar-li-text {
          display: block;
          margin-top: 8px;
          height: 24px;
          line-height: 24px;
          text-align: center;
          font-size: 24px;
          font-weight: 400;
          color: #2a2a2a;
        }
      }
    }
  }
  .activity-box {
    width: 100%;
    padding: 40px 0 80px;
    @include border-1px-tx(#ddd);
    box-sizing: border-box;
    .activity-title {
      padding: 0 40px;
      height: 30px;
      line-height: 30px;
      width: 100%;
      font-size: 30px;
      color: #000;
      margin-bottom: 40px;
      font-weight: 500;
      box-sizing: border-box;
    }
    .activity-ul {
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      .activity-li {
        width: 710px;
        height: 340px;
        position: relative;
        border-radius: 20px;
        .li-image {
          display: block;
          width: 710px;
          height: 340px;
          border-radius: 20px;
        }
        .li-mask {
          position: absolute;
          width: 100%;
          height: 340px;
          left: 0;
          top: 0;
          background-color: rgba($color: #000000, $alpha: 0.5);
          color: #fff;
          line-height: 340px;
          font-size: 60px;
          text-align: center;
          letter-spacing: 5px;
          border-radius: 20px;
        }
      }
    }
  }
}

