@import "@/assets/style/mixin.scss";
.ranking-page {
  min-height: 100vh;
  background-color: #F7F7F7;
  .ranking-header {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    background: linear-gradient(
      132deg,
      rgba(231, 170, 71, 1) 0%,
      rgba(249, 212, 141, 1) 100%
    );
    
    .header-content {
      display: flex;
      height: 250px;
      align-items: center;
      .header-image {
        width: 110px;
        height: 110px;
        display: block;
        margin-right: 20px;
      }
      .header-other {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .header-name {
          display: block;
          line-height: 34px;
          font-size: 34px;
        }
      }
    }
    .month-statistics {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .statistics-rank {
        font-weight:500;
        height: 40px;
        line-height: 40px;
        color: #fff;
        font-size: 40px;
        margin-bottom: 20px;
      }
      .statistics-time {
        height: 28px;
        line-height: 28px;
        color: #fff;
        font-size: 28px;
      }
    }

    
  }
  .ranking-navs {
    height: 88px;
    display: flex;
    background-color: #fff;
    .ranking-nav {
      flex: 1;
      height: 88px;
      line-height: 88px;
      text-align: center;
      font-size:30px;
      color: #303030;
      @include border-1px-x(#DDDDDD);
      &.active {
        color: #DC9D35;
        font-weight:500;
        &::after {
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          border-bottom: 4px solid #DC9D35;
          content: "";
        }
      }
    }
  }
  .ranking-statistics-box {
    padding: 0 20px;
    margin: 30px 0;
    .ranking-statistics {
      background-color: #fff;
      padding: 30px 20px 40px;
      .statistics-title {
        font-size: 30px;
        color: #2A2A2A;
        line-height: 30px;
        font-weight: 500;
        margin-bottom: 40px;
      }
      .statistics-ul {
        display: flex;
        .statistics-li {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .statistics-li-title {
            font-size: 26px;
            color: #7F7F7F;
            margin-bottom: 16px;
            text-align: center;
            line-height: 26px;
          }
          .statistics-li-num {
            font-size: 30px;
            line-height: 30px;
            height: 30px;
            color: #2A2A2A;
            font-weight: 500;
            text-align: center;
            &.num-m {
              color: #DC9D35;
            }
            &.num-t {
              color: #FA5858;
            }
          }
        }
      }
    }
  }
  .ranking-list-box {
    padding: 0 20px 30px;
    .ranking-list {
      background-color: #fff;
      padding: 30px 20px 0;
      .ranking-list-title {
        font-weight: 500;
        color: #2A2A2A;
        font-size: 30px;
        padding-bottom: 20px;
      }
      .ranking-list-ul {
        .ranking-list-li {
          height: 191px;
          padding: 40px 0;
          display: flex;
          align-items: center;
          border-bottom: 1px solid #D4D4D4;
          &:last-child {
            border-bottom: none;
          }
          .list-li-image {
            width: 110px;
            height: 110px;
            margin-right: 20px;
            .li-image {
              display: block;
              width: 110px;
              height: 110px;
            }
          }
          .list-li-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            .name {
              height: 28px;
              font-size: 28px;
              line-height: 28px;
              color: #2A2A2A;
              margin-bottom: 12px;
            }
            .job {
              font-size: 26px;
              line-height: 28px;
              color: #AAAAAA;
              margin-bottom: 16px;
            }
            .des {
              height: 26px;
              font-size: 24px;
              line-height: 26px;
              color: #FA5858;
            }
          }
          .list-li-num {
            width: 110px;
            font-size: 36px;
            color: #2A2A2A;
            text-align: right;
          }
        }
      }
    }
  }
}
