@import "@/assets/style/mixin.scss";
.withdraw-page {
  padding-top: 120px;
  min-height: 100vh;
  box-sizing: border-box;
  .money-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    @include bg-image('./money-icon')
  }
  .money-tips {
    text-align: center;
    font-size: 28px;
    color: #2A2A2A;
    line-height: 28px;
    margin: 60px auto 30px;
  }
  .money-value {
    color: #2A2A2A;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    strong {
      font-size: 60px;
    }
  }
  .money-types {
    display: flex;
    justify-content: center;
    align-items: center;
    .money-type {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 140px;
      .type-icon {
        display: block;
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
        &.yth-icon {
          @include bg-image('./yhk-icon')
        }
        &.weixin-icon {
          @include bg-image('./weixin-icon')
        }
      }
      .type-text {
        font-size:28px;
        line-height: 28px;
        color: #7F7F7F;
      }
    }
    .type-line {
      width: 1px;
      height: 80px;
      background-color: #DDD;
      margin: 0 40px;
    }
  }
  .common-issue {
    margin-top: 80px;
    text-align: center;
    font-size: 26px;
    height: 30px;
    line-height: 30px;
    color: #DC9D35;
  }
  .money-submit-btn {
    width: 60%;
    height: 88px;
    line-height: 88px;
    color: #fff;
    text-align: center;
    font-size: 36px;
    border-radius: 44px;
    margin: 150px auto 40px;
    @include bg-gradienta(#E7AA47, #F9D48D);
  }
}