@import "@/assets/style/mixin.scss";
.user-page {
  min-height: 100vh;
  padding-bottom: 102px;
  box-sizing: border-box;
  .user-header {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 40px;
    box-sizing: border-box;
    background: linear-gradient(
      132deg,
      rgba(231, 170, 71, 1) 0%,
      rgba(249, 212, 141, 1) 100%
    );
    position: relative;
    .header-content {
      display: flex;
      height: 214px;
      align-items: center;
      .header-image {
        width: 110px;
        height: 110px;
        display: block;
        margin-right: 20px;
      }
      .header-other {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .header-name {
          display: block;
          line-height: 34px;
          font-size: 34px;
        }
        .header-mark {
          display: block;
          margin-top: 14px;
          font-size: 24px;
          line-height: 24px;
        }
      }
    }
    .header-set {
      height: 214px;
      padding-top: 30px;
      .set-btn {
        font-size: 28px;
        line-height: 28px;
        color: #fff;
        margin-bottom: 45px;
      }
      .set-icon {
        width: 48px;
        height: 48px;
        @include bg-image("./code-icon");
      }
    }
    .money-card {
      width: 710px;
      height: 150px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 6px 40px 0px rgba(109, 114, 120, 0.1);
      border-radius: 8px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(214px);
      display: flex;
      padding: 0 55px;
      box-sizing: border-box;
      .card-item {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .card-num {
          font-size: 36px;
          line-height: 36px;
          font-weight: 500;
          color: #2a2a2a;
        }
        .card-des {
          margin-top: 20px;
          font-size: 26px;
          line-height: 26px;
          color: #7f7f7f;
        }
        .card-qianbao {
          width: 154px;
          height: 58px;
          border-radius: 29px;
          border: 2px solid rgba(220, 157, 53, 1);
          display: flex;
          justify-content: center;
          .qianbao-icon {
            display: block;
            width: 40px;
            height: 40px;
            margin-right: 8px;
            @include bg-image('./qianbao-icon');
            margin-top: 7px;
          }
          .qianbao-text {
            display: block;
            font-size: 26px;
            height: 26px;
            line-height: 26px;
            font-weight:500;
            color: #DC9D35;
            margin-top: 14px;
          }
        }
      }
    }
  }
  .user-content {
    padding-top: 164px;
    .userlist-ul {
      padding: 0 21px;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      .userlist-item-abox {
        display: block;
        width: 236px;
        height: 130px;
      }
      .userlist-item {
        display: block;
        width: 236px;
        height: 130px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .userlist-item-icon {
          display: block;
          width: 48px;
          height: 48px;
          margin-bottom: 22px;
          &.jd-icon {
            @include bg-image('./jd-icon')
          }
          &.activity-icon {
            @include bg-image('./activity-icon')
          }
          &.fxcard-icon {
            @include bg-image('./fxcard-icon')
          }
          &.hy-icon {
            @include bg-image('./hy-icon')
          }
          &.paihangban-icon {
            @include bg-image('./paihangban-icon')
          }
          &.que-icon {
            @include bg-image('./que-icon')
          }
          &.relation-icon {
            @include bg-image('./relation-icon')
          }
          &.user-icon {
            @include bg-image('./user-icon')
          }
          &.yongjin-icon {
            @include bg-image('./yongjin-icon')
          }
        }
        .userlist-item-text {
          display: block;
          height: 26px;
          font-size: 26px;
          line-height: 26px;
          color: #7F7F7F;
        }
        
      }

    }
  }
}
