.t-suspend-button {
  position: fixed;
  top: 400px;
  right: 40px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background: linear-gradient(19deg,rgba(195,143,65,1) 0%,rgba(230,220,193,1) 100%);
  box-shadow: 0px 4px 20px 0px rgba(100,109,121,0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999;
}

.t-suspend-button img {
  display: block;
  width: 64px;
  height: 64px;
}

.t-suspend-button-animate {
  transition-duration: .4s;
}