@import "@/assets/style/mixin.scss";
.issue-page {
  min-height: 100vh;
  padding-top: 20px;
  background-color: #f7f7f7;
  box-sizing: border-box;
  .issue-content {
    .issue-li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 101px;
      padding: 0 40px;
      border-bottom: 1px solid #dddddd;
      background-color: #fff;
      &:last-child {
        border-bottom: none;
      }
      .issue {
        height: 100px;
        line-height: 100px;
        font-size: 30px;
        color: #000;
        .important-color {
          color: #DC9D35;
        }
      }
      .issue-icon {
        display: block;
        width: 28px;
        height: 28px;
        @include bg-image("./arrow-right");
      }
    }
  }
}
