@import "@/assets/style/mixin.scss";
.orderdetail-page {
  min-height: 100vh;
  background: #fff;
  box-sizing: border-box;
  .orderdetail-page-bg {
    width: 100%;
    .orderdetail-info {
      width: 100%;
      height: 184px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 40px;
      box-sizing: border-box;
      background: linear-gradient(to right, #cea461, #dcbc7f);
      margin-bottom: 30px;
      .order-status {
        height: 56px;
        font-size: 40px;
        font-weight: 500;
        color: #fff;
        line-height: 56px;
      }
      .order-des {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .name {
          font-size: 32px;
        }
        .room {
          font-size: 28px;
          margin-top: 20px;
        }
      }
    }
    .orderdetail-content-box {
      width: 100%;
      padding: 0 20px;
      background: transparent;
      box-sizing: border-box;
      .orderdetail-content {
        .content-part {
          background-color: #fff;
          padding: 0 20px;
          margin-bottom: 30px;
        }
        .content-partone {
          height: 80px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .order-operation {
            display: flex;
            justify-content: space-between;
            &.order-operation-center {
              justify-content: center;
            }
            .operation-btn {
              width: 324px;
              height: 80px;
              text-align: center;
              border-radius: 10px;
              font-weight: 400;
              font-size: 36px;
              box-sizing: border-box;
            }
            .cancle-btn {
              line-height: 78px;
              color: #aaa;
              padding: 0;
              background-color: #fff;
              position: relative;
              &::after {
                content: "";
                width: 200%;
                height: 200%;
                position: absolute;
                top: 0;
                left: 0;
                border: 4px solid #d4d4d4;
                transform: scale(0.5);
                transform-origin: 0 0;
                box-sizing: border-box;
                border-radius: 20px;
              }
            }
            .sure-btn {
              font-weight: 500;
              line-height: 80px;
              background: linear-gradient(to right, #cea461, #dcbc7f);
              color: #fff;
            }
          }
          .order-operation-big {
            justify-content: center;
            .operation-btn-big {
              width: 670px;
            }
          }
        }
        .content-parttwo {
          height: 150px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .order-hotel-name {
            display: flex;
            height: 50px;
            margin-bottom: 8px;
            justify-content: space-between;
            .name {
              width: 500px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              height: 50px;
              font-size: 36px;
              font-weight: 400;
              color: #2a2a2a;
              line-height: 50px;
            }
          }
          .order-hotel-address {
            display: flex;
            height: 34px;
            justify-content: space-between;
            .address {
              width: 500px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              height: 34px;
              font-size: 28px;
              font-weight: 400;
              color: #7f7f7f;
              line-height: 34px;
            }
          }
          .parttwo-btn {
            width: 120px;
            height: 34px;
            font-size: 28px;
            font-weight: 400;
            color: #ca984f;
            line-height: 32px;
            border-bottom: 2px solid #ca984f;
            box-sizing: border-box;
          }
        }
        .content-partthree {
          padding: 30px 20px;
          .partthree-row-title {
            height: 80px;
            font-size: 32px;
            font-weight: 500;
            color: #2a2a2a;
            line-height: 80px;
            border-bottom: 2px solid #f2f2f2;
            margin-bottom: 24px;
          }
          .partthree-row {
            display: flex;
            margin-bottom: 16px;
            .row-name {
              width: 150px;
              height: 38px;
              font-size: 30px;
              font-weight: 400;
              color: #7f7f7f;
              line-height: 38px;
              margin-right: 30px;
            }
            .row-content {
              width: 490px;
              font-size: 30px;
              font-weight: 400;
              color: #2a2a2a;
              line-height: 38px;
              display: flex;
              flex-wrap: wrap;
            }
            .row-content-hidden {
              width: 490px;
              font-size: 30px;
              font-weight: 400;
              color: #2a2a2a;
              line-height: 38px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
          .textarea-mark {
            width: 670px;
            .textarea {
              display: block;
              width: 670px;
              height: 300px;
              background-color: #f5f5f5;
              color: #333;
              border: none;
              outline: none;
              padding: 30px;
              border-radius: 16px;
            }
          }
        }
        .content-partfour {
          padding: 30px 20px;
          .content-partfour-box {
            margin-bottom: 40px;
            &:last-child {
              margin-bottom: 0;
            }
          }
          .content-partfour-title {
            height: 40px;
            font-size: 30px;
            font-weight: 500;
            color: #2a2a2a;
            line-height: 40px;
            margin-bottom: 20px;
          }
          .content-partfour-des {
            font-size: 26px;
            font-weight: 400;
            color: #7f7f7f;
            line-height: 36px;
            margin-bottom: 18px;
            .des-left {
              margin-right: 30px;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
.model-shodow {
  border-radius: 14px;
  box-shadow: 0px 6px 40px 0px rgba(109, 114, 120, 0.2);
}
