@import "@/assets/style/mixin.scss";
.sharehotel-page {
  width: 100%;
  height: 100%;
  font-size: 28px;
  position: relative;
  .load-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 3;
  }
  .sharehotel-content-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .sharehotel-content {
    width: 710px;
    height: 1066px;
    padding-top: 60px;
    background: #fff;
    .hotel-name {
      text-align: center;
      height: 40px;
      font-size: 40px;
      line-height: 40px;
      color: #2a2a2a;
      font-weight: 500;
      margin-bottom: 20px;
    }
    .hotel-tips {
      text-align: center;
      height: 30px;
      font-size: 30px;
      line-height: 30px;
      color: #7F7F7F;
      font-weight: 400;
    }
    .hotel-room {
      text-align: center;
      height: 38px;
      font-size: 38px;
      line-height: 38px;
      color: #2A2A2A;
      font-weight: 400;
      margin-top: 80px;
    }
    .hotel-pirce {
      text-align: center;
      margin-top: 30px;
      font-size: 60px;
      color: #DC9D35;
      font-weight: 500;
      .price-text {
        font-size: 26px;
        color: #DC9D35;
        font-weight: 500;
      }
      .price-symbol {
        font-size: 50px;
      }
      .price {
        font-size: 70px;
        margin-right: 4px;
      }
    }
    .hotel-images {
      width: 630px;
      display: flex;
      margin: 60px auto 0;
      .hotel-image-item {
        width: 190px;
        height: 218px;
        margin: 0 10px;
        background-color: #DC9D35;
        .hotel-image {
          display: block;
          width: 190px;
          height: 218px;
          border-radius: 8px;
        }
      }
    }
    .hotel-lines {
      height: 2px;
      width: 100%;
      margin: 80px auto;
      display: flex;
      .hotel-line {
        flex: 1;
        border-top: 1px solid #ccc;
        height: 1px;
        margin: 0 4px;
      }
    }
    .code-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 166px;
    }
    .hotelcode-box {
      width: 166px;
      height: 166px;
      margin-right: 30px;
      background-color: #ccc;
      .hotelcode {
        display: block;
        width: 166px;
        height: 166px;
      }
    }
    .user-box {
      width: 310px;
      .user-content {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        font-size: 24px;
        .user-image {
          display: block;
          width: 68px;
          height: 68px;
          border-radius: 50%;
          margin-right: 5px;
        }
        .user-text {
          display: block;
          font-size: 28px;
          line-height: 32px;
          color: #2A2A2A;
          font-size: 400;
          word-break:break-all;
          .nickname {
            
          }
        }
      }
      .user-tips {
        width: 260px;
        font-size: 24px;
        line-height: 28px;
        color:#DC9D35;
        text-align: center;
      }
      .user-tips-bottom {
        margin-bottom: 4px;
      }
    }
  }
  .create-logo {
    width: 100%;
    min-height: 100%;
    background-color: #f1e0c4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .create-logo-tips {
      width: 100%;
      padding-bottom: 30px;
      .tips-p {
        text-align: center;
        font-size: 24px;
        line-height: 24px;
        color: #333;
        font-weight: 500;
        transition: all 0.5s 0.1s;
        opacity: 0;
        margin-bottom: 20px;
        &.active {
          opacity: 1;
        }
        .tips-p-span {
          color: red;
        }
      }
    }
    #image-box {
      img {
        display: block;
        margin: 0 auto;
        transition: all 0.5s 0.1s;
        border-radius: 8px;
      }
    }
  }

}
