.navigationbar {
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  .navigationbar-title {
    text-align: center;
    height: 80px;
    font-size:36px;
    font-weight:500;
    color:rgba(0,0,0,1);
    line-height:80px;
  }
}

.historylog-btn {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  background: linear-gradient(19deg,rgba(195,143,65,1) 0%,rgba(230,220,193,1) 100%);
  box-shadow: 0px 4px 20px 0px rgba(100,109,121,0.25);
  color: #fff;
  font-size: 24px;
  border-radius: 50%;
  text-align: center;
  box-sizing: border-box;
  padding: 0 26px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}