@import "@/assets/style/mixin.scss";
.issueDetail-page {
  min-height: 100vh;
  padding: 20px;
  background-color: #fff;
  box-sizing: border-box;
  .issueDetail-content {
    background-color: #fff;
    padding: 60px 10px;
    .issueDetail-header {
      margin-bottom: 56px;
      font-weight: 500;
      font-size: 34px;
      line-height: 34px;
      color: #2a2a2a;
      text-align: center;
    }
    p {
      font-size: 30px;
      line-height: 46px;
      margin-bottom: 20px;
      color: #2a2a2a;
      text-indent: 60px;
    }
  }
}
