@import "@/assets/style/mixin.scss";
.nav-component {
  width: 100%;
  position: fixed;
  height: 102px;
  left: 0;
  bottom: 0;
  z-index: 1000!important;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  .nav-ul {
    background-color: #fff;
    width: 100%;
    height: 102px;
    display: flex;
    box-sizing: border-box;
    border-top: 1px solid #DDDDDD;
    box-sizing: border-box;
    .nav-li {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100px;
      .nav-li-icon {
        display: block;
        width: 44px;
        height: 44px;
      }
      &.nav-li-home {
        .nav-li-icon {
          @include bg-image("./home");
        }
      }
      &.nav-li-record {
        .nav-li-icon {
          @include bg-image("./record");
        }
      }
      &.nav-li-user {
        .nav-li-icon {
          @include bg-image("./user");
        }
      }
      &.nav-li-order {
        .nav-li-icon {
          @include bg-image("./order");
        }
      }
      .nav-li-text {
        display: block;
        text-align: center;
        height: 20px;
        font-size: 20px;
        font-weight: 500;
        color: #aaaaaa;
        line-height: 20px;
        margin-top: 8px;
      }
      &.nav-li-active {
        .nav-li-text {
          color: rgba(220, 157, 53, 1);
        }
      }
      &.active-home {
        .nav-li-icon {
          @include bg-image("./home-active");
        }
      }
      &.active-record {
        .nav-li-icon {
          @include bg-image("./record-active");
        }
      }
      &.active-user {
        .nav-li-icon {
          @include bg-image("./user-active");
        }
      }
      &.active-order {
        .nav-li-icon {
          @include bg-image("./order-active");
        }
      }
    }
  }
}
