@import "@/assets/style/mixin.scss";
.index-page {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 102px;
  box-sizing: border-box;
  background-color: #fff;
  .index-banner {
    padding: 0 15px;
    height: 345px;
    .swiper-container {
      border-radius: 16px;
      .swiper-slide-image {
        width: 100%;
        border-radius: 16px;
      }
      .swiper-pagination-bullet {
        background: #fff;
        opacity: 1;
      }
      .swiper-pagination-bullet-active {
        background: #e7aa47;
      }
    }
  }
  .marquee {
    height: 72px;
    display: flex;
    align-items: center;
    padding: 0 31px;
    background-color: #FDFCEC;
    margin-top: 40px;
    margin-bottom: 40px;
    box-sizing: border-box;
    .noc-icon {
      display: block;
      width: 32px;
      height: 32px;
      @include bg-image("./noc-icon");
    }
    .marquee-content {
      width: 600px;
      margin: 0 12px;
      font-size:28px;
      height: 28px;
      line-height: 28px;
      marquee {
        width: 600px;
        font-size:28px;
        height: 28px;
        line-height: 28px;
        color: #DC9D35;
      }
    }
    .close-icon {
      display: block;
      width: 32px;
      height: 32px;
      @include bg-image("./close-icon");
    }
  }
  .header {
    padding: 0 40px;
    .header-h1 {
      height: 40px;
      font-size: 32px;
      color: #333;
      margin-bottom: 20px;
      font-weight: 600;
    }
    .header-h2 {
      height: 40px;
      font-size: 28px;
      color: #555;
    }
  }
  .content {
    padding-bottom: 80px;
    .content-ul {
      width: 530px;
      margin: 80px auto 0;
      display: flex;
      flex-wrap: wrap;
      .content-li {
        width: 250px;
        height: 200px;
        line-height: 200px;
        text-align: center;
        border-radius: 16px;
        position: relative;
        margin-right: 30px;
        margin-bottom: 30px;
        font-size: 30px;
        color: #333;
        border: 1px solid #CA984F;
        box-sizing: border-box;
        color: #CA984F;
        font-weight: 600;
        &:nth-child(2n) {
          margin-right: 0;
        }
        .li-count {
          position: absolute;
          height: 60px;
          width: 60px;
          border-radius: 50%;
          line-height: 60px;
          text-align: center;
          background-color: red;
          color: #fff;
          font-size: 24px;
          right: 0;
          top: -30px;
        }
      }
    }
  }
}
